<div class="panel panel-page page-adList" ng-controller="AdListCtrl">
    <div class="panel-heading"><strong>广告列表</strong></div>
    <div class="panel-body">
        <div class="row operate-row">
            <div class="col-sm-12 operate-left">
                <form class="form-inline search-form">
                    <div class="form-group">
                        <label for="adId">广告ID</label>
                        <input type="text" class="form-control" id="adId" ng-model="searchParam.id"/>
                    </div>
                    <div class="form-group">
                        <label for="adName">广告名称</label>
                        <input type="text" class="form-control" id="adName" ng-model="searchParam.adname"/>
                    </div>
                    <div class="form-group"><label>创建时间</label></div>

                    <div class="form-group date-picker date-picker-left"
                         datetime-range
                         format="Y-m-d"
                         hide-time="true"
                         start-flag="ad_post_time_start"
                         end-flag="ad_post_time_end"
                         on-change="onChangeDate(flag,time)"></div>
                    <div class="form-group">
                        <label for="status">投放状态</label>
                        <select name="client" id="status" class="select1 form-control" ng-model="searchParam.ad_status">
                            <option value="">请选择</option>
                            <option value="0">未审核</option>
                            <option value="1">审核通过</option>
                            <option value="2">审核未通过</option>
                            <option value="3">暂停</option>
                            <option value="4">启用</option>
                            <option value="5">投放结束</option>
                        </select>
                    </div>
                    <button class="btn btn-primary" ng-click="onSearch()">搜索</button>
                </form>
            </div>
        </div>

        <div class="table-responsive list-table" data-slim-scroll slim-height="contentListHeight">
            <table class="table table-hover table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th>广告ID</th>
                    <th>广告名称</th>
                    <th>创建时间</th>
                    <th>曝光量</th>
                    <th>点击量</th>
                    <th>曝光点击率</th>
                    <th>广告出价</th>
                    <th>投放状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ad in adList">
                    <td>{{ad.id}}</td>
                    <td>{{ad.adname}}</td>
                    <td>{{ad.ad_post_time | datelineToDate}}</td>
                    <td>{{ad.exposure}}</td>
                    <td>{{ad.pv}}</td>
                    <td>{{ad.exposurerate}}</td>
                    <td>{{ad.click_price}}</td>
                    <td>{{ad.ad_status | adStatusConvert}}<i class="icoF"  tooltip-placement="top" uib-tooltip="{{ad.audit_pass_msg}}" tooltip-append-to-body="true" ng-if="ad.audit_pass_msg && ad.audit_pass_msg!='undefined' && ad.ad_status!='1'">&#xe601;</i></td>
                    <td>
                        <button type="button" class="btn btn-success" ng-click="onDetail(ad)">详情</button>
                        <!--<button type="button" class="btn btn-danger">暂停</button>-->
                        <!--<button type="button" class="btn btn-warning">启用</button>-->
                    </td>
                </tr>
                <tr ng-show="adList.length==0">
                    <td colspan="9">暂无广告</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="cs-paginator ac">
            <uib-pagination total-items="paginator.totalItems"
                            ng-model="paginator.currentPage"
                            max-size="paginator.maxSize"
                            boundary-links="true"
                            rotate="false"
                            items-per-page="paginator.itemsPerPage"
                            previous-text="&lsaquo;"
                            first-text="&lsaquo;&lsaquo;"
                            last-text="&rsaquo;&rsaquo;"
                            next-text="&rsaquo;">
            </uib-pagination>
        </div>
    </div>
</div>
