<div class="page-signup" ng-controller="RegCtrl">
    <div class="signin-header">
        <section class="logo text-center">
            <div class="-align-center"><img src="./images/logo.png"/></div>
            <h3 class="-align-center">{{main.brand}}</h3>
        </section>
    </div>
    <div class="signin-body">
        <div class="container">
            <div class="form-container">
                <form class="form-horizontal signup-form" role="form" name="signupForm" method="post" ng-submit="register()" novalidate>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="userName">用户名:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="userName" name="userName" placeholder="请输入用户名"
                                   ng-model="userName"
                                   required/>
                            <div class="error" ng-show="(signupForm.userName.$dirty || signupForm.submitted) && signupForm.userName.$invalid">
                                <small ng-show="signupForm.userName.$error.required">* 请输入用户名！</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="password">密码:</label>
                        <div class="col-sm-9">
                            <input type="password"  id="password" class="form-control" name="password" placeholder="请输入密码"
                                   ng-model="password"
                                   required/>
                            <div class="error" ng-show="(signupForm.password.$dirty  || signupForm.submitted)&& signupForm.password.$invalid">
                                <small ng-show="signupForm.password.$error.required">* 请输入密码！</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="repassword">确认密码:</label>
                        <div class="col-sm-9">
                            <input type="password" id="repassword" class="form-control" name="repassword" placeholder="请确认密码"
                                   ng-model="repassword"
                                   required/>
                            <div class="error" ng-show="(signupForm.repassword.$dirty || signupForm.submitted)&& signupForm.repassword.$invalid">
                                <small ng-show="signupForm.repassword.$error.required">* 请输入确认密码！</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="email">电子邮箱:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="email" name="email" placeholder="请输入您的电子邮箱"
                                   ng-model="email"
                                   required/>
                            <div class="error" ng-show="(signupForm.email.$dirty || signupForm.submitted) && signupForm.email.$invalid">
                                <small ng-show="signupForm.email.$error.required">* 请输入您的电子邮箱！</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="businessName">商户名称:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="businessName" name="businessName" placeholder="请输入商户名称"
                                   ng-model="businessName"
                                   required/>
                            <div class="error" ng-show="(signupForm.businessName.$dirty || signupForm.submitted)&& signupForm.businessName.$invalid">
                                <small ng-show="signupForm.businessName.$error.required">* 请输入商户名称！</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="mobile">手机号码:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="mobile" name="mobile" placeholder="请输入您的手机号码"
                                   ng-model="mobile"
                                   required/>
                            <div class="error" ng-show="(signupForm.mobile.$dirty || signupForm.submitted)&& signupForm.mobile.$invalid">
                                <small ng-show="signupForm.mobile.$error.required">* 请输入您的手机号码！</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="qq">QQ:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="qq" name="qq" placeholder="请输入您的QQ"
                                   ng-model="qq"
                                   required/>
                            <div class="error" ng-show="(signupForm.qq.$dirty || signupForm.submitted)&& signupForm.qq.$invalid">
                                <small ng-show="signupForm.qq.$error.required">* 请输入您的QQ号码！</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9"><button type="submit" class="btn btn-success btn-lg btn-block text-center">注册</button></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9 form-bottom">已有账号，请</label><a href="#/page/signin"><strong>登录</strong></a></div>
                    </div>
                </form>
                <div class="divider"></div>
            </div>
        </div>
    </div>
    <div class="loading-layer" ng-show="signupForm.submitted">
        <div class="large-loading"></div>
    </div>
</div>

