<header class="top-header clearfix" ng-controller="HeaderCtrl">

    <div class="top-nav">
        <div class="logo bg-primary">
            <a href="#/">
                <img class="logo-img" src="./images/logo.png"/>
                <span class="logo-text">{{constants.brand}}</span>
            </a>
        </div>

        <ul class="nav-right pull-right list-unstyled">
            <li>
                <a class="btn btn-link">
                    <i class="icoF">&#xe60e;</i>{{$root.userName}}
                </a>
            </li>
            <li>
                <a class="btn btn-link" ng-click="logout()">
                    <i class="icoF">&#xe60b;</i>注销
                </a>
            </li>
        </ul>
    </div>
</header>
