<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        slim-height="sidebarHeight"
        data-collapse-nav
        data-highlight-active>
        <li>
            <a href="#/ad"><span class="icoF">&#xe60c;</span>广告管理</a>
            <ul>
                <li><a href="#/ad/adList"><span class="icoF">&#xe600;</span>广告列表</a></li>
                <li><a href="#/ad/adCreate"><span class="icoF">&#xe60a;</span>新建广告</a></li>
            </ul>
        </li>
        <li>
            <a href="#/account"><span class="icoF">&#xe60e;</span>账户管理</a>
            <ul>
                <li><a href="#/account/finance"><span class="icoF">&#xe60d;</span>财务记录</a></li>
            </ul>
        </li>
    </ul>
</div>
